*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:arial;
}
nav{
    z-index: 100;
    display: inline-flex;
    width:90%;
    padding:30px 1%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top:0;
    left:0px;
}

nav ul li{
    position: relative;
    right:520px;
    display: inline-block;
    margin-left:40px;
    z-index: 100;
    list-style:none;
}

nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: red;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li:hover::after{
    width:100%;
}
a:hover{
    color:black;
}

nav ul li{
    position: relative;
    right:520px;
    display: inline-block;
    margin-left:40px;
    z-index: 100;
    list-style:none;
}

.selected::after{
    content: '';
    height: 3px;
    width: 0;
    background: red;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.selected:hover::after{
    width:100%;
}
.selected a:hover{
    color:black;
}


nav ul li a{
    color:grey;
    font-weight: 500;
    display: block;
    font-size: 17px;
    text-decoration: none;
}

.logo{
    border:1px dotted black;
    border-radius: 50%;
    padding:6px;
    width:60px;
    margin-left: 40px;
}

/*==================================== content ================================================= */

.back{
    font-size: 150px;
    font-weight: 600;
    position: absolute;
    bottom: 390px;
    width:100px;
    left:370px;
    color:grey;
    opacity: 0.2;
}

.content{
    position: absolute;
    bottom: 168px;
    left:170px;
}

.content p{
    letter-spacing: 1px;
    color:grey;
    margin-bottom: 20px;
    font-weight: 200;
}

.content h1{
    letter-spacing: 1px;
    width:500px;
    font-size: 70px;
    margin-bottom: 20px;
    transition: 0.5s ease-in-out;
}

.content h1:hover{
    -webkit-text-stroke:1px black;
    color:transparent;
}

span{
    color:rgb(120,5,10);
}

.images{
    display: inline-block;
    margin-left: 778px;
    overflow: hidden;
    width:90px;
}

.content a{
    border-radius: 20px;
    border:1px solid black;
    text-decoration: none;
    color:grey;
    padding: 4px 20px;
}
.line-link{
    margin-left: 0px;
    border-bottom: 1px solid black;
}

.content a:hover{
    border: 2px solid black;
}
/*============================= section ========================= */

.behind{
    display: block;
    width:380px;
    z-index: 10;
    height: 50vh;
    position: absolute;
    right:82px;
    background-size: cover;
    background-position: center;
    background-color:rgb(120,5,10);
    background-image: url(photos/images.jpeg);
    background-blend-mode:overlay;
}

.about{
    display: block;
    height: 53vh;
    width:489px;
    background-size: 300px;
    background-position: right;
    position: absolute;
    bottom:-20px;
    background-image: url(photos/bottom.jpg);
    background-repeat: no-repeat;
    background-color: black;
}

.cover{
    width:85vh;
    position: absolute;
    right:229px;
    z-index:100;
    top:-91px;
    overflow: hidden;
}

/*======================= texts =================================*/

.text{
    width:180px;
    position: absolute;
    top:60px;
    display: block;
    color:#fff;
    margin-left: 32px;
}

.title{
    margin-bottom: 10px;
    font-size: 10px;
}

.message{
    font-size: 12px;
}

.behind img{
    height:50px;
    position: absolute;
    top:19px;
    left:180px;
}

.line{
    margin-top: 12px;
    border-bottom: 3px solid white;
    width:60px;
}

.border{
    margin-top: 35px;
    opacity: 0.5;
    border-bottom: 1px solid white;
    width:300px;    
}

/*================================= ratings ===================================*/
.ratings{
    position: absolute;
    top:120px;
    left:-210px;
    opacity: 0.8;
}

.face{
    position: absolute;
    bottom:120px;
}

.ratings img{
    position: absolute;
    height: 80px;
    top:0px;
    left:210px;
    background-color: black;
}

.ratings .num{
    position: absolute;
    top:1px;
    right:-440px;
    color:white;
    font-size: 30px;
}
.circle{
    background-color: white;
    border-radius: 50%;
    width:23px;
}

.stars{
    position: absolute;
    top:50px;
    right:-483px;
    color:yellow;
    font-size: 30px;
}

.stars>span{
    color:white;
}

.ratings .sub{
    color:#fff;
    position: absolute;
    top:35px;
    right:-379px;
    font-size: 12px;
}

.ratings .sup{
    color:#fff;
    position: absolute;
    top:85px;
    right:-370px;
    font-size: 12px;
}

/*============================ about ===================================== */




.about .abt{
    color:white;
    position: absolute;
    top:180px;
    text-transform: uppercase;
    font-size: 20px;
    right:42px;
    transform: translate(-50px,-50px);
}

/*============================ vertical text ======================================*/

.extra{
    position: absolute;
    bottom:200px;
    left:20px;
}

.vertical{
    position:absolute;
    width:90%;
    transform: translate(0,-50%);
    top:20px;
}

.vertical p{
    position: absolute;
    left:50px;
    top:-110px;
    writing-mode:vertical-lr;
    display: inline;
    background: transparent;
    padding: 15px;
    transform: rotate(180deg);
}

.vertical h3{
    writing-mode:vertical-lr;
    display: inline;
    background: transparent;
    padding: 15px;
    width:110px;
    margin: 0px;
    opacity: 0.5;
    transform: rotate(270deg);
    border-bottom: 2px solid black;
    position: absolute;
    top:-174px;
}

.quote{
    position: absolute;
    left:65px;
    top:-250px;
}